.app {
  box-sizing: border-box;
}

.fieldItem {
  width: 100%;
  display: flex;
}

.label {
  flex: none;
  width: 120px;
}

.sourceMapUrl {
  width: 100%;
  padding: 8px;
  flex: 1;
}

.stackTrace {
  margin-top: 8px;
  width: 100%;
  height: 250px;
  flex: 1;
}

.parseButton {
  padding: 8px 16px;
}

.parseResults {
  margin-top: 8px;
}
