.menuItem {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid grey;
    display: flex;
    width: 100%;
}

.menuItem-operationIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menuItem-mainOperation {
    margin-left: 16px;
    cursor: pointer;
    display: flex;
    width: 100%;
}

.menuItem-operationText {
    flex-grow: 1;
}

.menuItem-moreOperation {
    display: flex;
    align-items: center;
    justify-self: center;
    flex: 0 0 auto;
}
