.arrow {
    transition: transform 300ms ease-in;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-self: center;
}

.arrow-down {
    transform: rotate(90deg);
}

.arrow-small {
    width: 8px;
    height: 8px;
}

.arrow-medium {
    width: 12px;
    height: 12px;
}

.arrow-large {
    width: 20px;
    height: 20px;
}
